<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" @onclick="ToggleMenuDisplay" class="navbar-burger @isOpenClass" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @isOpenClass">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="" ActiveClass="is-active" Match="NavLinkMatch.All">
                Producten
            </NavLink>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-white" @onclick="OpenShoppingCart">
                        <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                       <span class="tag">@Cart.Items.Count</span>
                    </button>
                    <AccessControl />
                </div>
            </div>
        </div>
    </div>
</nav>