<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous" disabled="@hasNoMorePrevious" @onclick="GoToPrevious">Vorige</a>
  <a class="pagination-next" disabled="@hasNoMoreNext" @onclick="GoToNext">Volgende</a>
</nav>